<div class="row">
  <div class="column">
    <div class="card">
      <img  src="./../../assets/MissMariaWaqas.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Dr Maria Waqas</h2>
        <p class="title">Assistant Professor</p>
        <p></p>
        <p>Internal Advisor</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./../../assets/omer.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Muhammad Omer</h2>
        <p class="title">Leader &amp; Founder</p>
        <p>CS-139</p>
        <p>omerhameed98@yahoo.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="resize" src="./../../assets/sana2.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Sana Mohib</h2>
        <p class="title">Teamate</p>
        <p>CS-080</p>
        <p>sanamohib80@yahoo.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img class="resize" src="./../../assets/shahira2.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Shahira Malik</h2>
        <p class="title">Teamate</p>
        <p>CS-094</p>
        <p>malikshahira@yahoo.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>